.button {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  transition: background-color 0.3s ease;
  padding: var(--button-padding);

  &:hover {
    opacity: 0.9;
  }

  &.primary {
    background-color: #3b46e0;
  }

  &.secondary {
    background-color: #ff426e;
  }

  &.accent {
    background-color: #ffff00;
    color: black;
  }

  &.danger {
    background-color: #f0502d;
  }

  &.success {
    background-color: #03ff86;
  }
}
