.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  max-width: 1760px;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 20px;

  .logo img {
    width: 188px;
    height: 58px;
    transition: transform 0.5s ease, filter 0.5s ease;
    &:hover {
      transform: scale(1.05);
      filter: brightness(1.2);
    }
  }

  .nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      gap: 50px;

      li a {
        text-decoration: none;
        font-family: Inter;
        color: black;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-right: 15.5px;
        transition: transform 0.5s ease, filter 0.5s ease;
        &:hover {
          color: #2632dc;
        }
      }
    }
  }

  .contactButton {
    display: flex;
    align-items: center;

    button {
      width: 219px;
      height: 60px;
      font-family: IBM Plex Sans;
      font-weight: 700;
      font-size: 18px;
      line-height: 23.4px;
      color: white;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      transition: background-color 0.5s ease, box-shadow 0.7s ease;

      &:hover {
        background-color: #2f38b8;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
        transform: none;
      }

      &:active {
        background-color: #242a88;
        box-shadow: none;
      }
    }
  }
}
