.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  max-width: 1760px;
  margin: 0 auto;
  margin-bottom: 60px;

  .logo img {
    width: 188px;
    height: 58px;
  }

  .nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      gap: 50px;

      li a {
        text-decoration: none;
        font-family: Inter;
        color: black;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-right: 15.5px;
      }
    }
  }

  .contactButton {
    display: flex;
    align-items: center;

    button {
      width: 219px;
      height: 60px;
      background-color: #3b46e0;
      font-family: IBM Plex Sans;
      font-weight: 700;
      font-size: 18px;
      line-height: 23.4px;
      color: white;
      border-radius: 30px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
