.footer {
  background-color: #3b46e0;
  color: white;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 120px;
  max-width: 1920px;
  height: 360px;

  .leftSection {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex-direction: column;

    .logo {
      img {
        width: 200px;
        transition: transform 0.5s ease, filter 0.5s ease;
        &:hover {
          transform: scale(1.05);
          filter: brightness(1.2);
        }
      }
    }

    .socials {
      display: flex;
      gap: 20px;
      position: absolute;
      top: 250px;
      margin-top: 20px;

      a {
        img {
          width: 40px;
          height: 40px;
          transition: transform 0.3s ease, filter 0.3s ease;
        }

        &:hover {
          transform: scale(1.1);
          filter: brightness(1.3);
        }
      }
    }
  }

  .rightSection {
    display: flex;
    justify-content: flex-start;
    gap: 100px;

    .links ul {
      font-family: Inter;
      font-size: 28px;
      font-weight: 400;
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          color: white;
          text-decoration: none;
          font-family: Inter;
          font-size: 28px;
          font-weight: 400;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .contacts {
      p {
        font-family: Inter;
        font-size: 28px;
        font-weight: 400;
        list-style: none;
      }
      a {
        color: white;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
          color: #ffcc33;
        }

        &:active {
          color: #ff9900;
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;

    .socials {
      display: flex;
      gap: 20px;
      justify-content: flex-start;

      a {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    p {
      font-family: Inter;
      font-size: 28px;
      font-weight: 400;
      margin-left: auto;
      list-style: none;
      text-align: right;
    }
  }
}
