.introSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f9ff;
  border-radius: 50px;
  margin-bottom: 120px;
  padding: 0;

  .content {
    max-width: 70%;
    padding: 155px 40px;

    h1 {
      font-family: IBM Plex Sans;
      font-size: 70px;
      font-weight: 700;
      line-height: 91px;
      max-width: 1087px;
    }

    p {
      margin: 20px 0 40px;
      max-width: 1044px;
      font-family: Inter;
      font-weight: 400;
      font-size: 36px;
      line-height: 43.5px;
    }

    .highlight {
      color: #3b46e0;
    }
  }
  .contentButton {
    display: flex;
    align-items: center;

    button {
      width: 350px;
      height: 90px;
      background-color: #3b46e0;
      font-family: Inter;
      font-weight: 700;
      font-size: 24px;
      line-height: 29.5px;
      color: white;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .image img {
    max-width: 100%;
    height: auto;
  }
}
