.courseSection {
  max-width: 1760px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  border: 1.5px solid rgba(187, 187, 187, 1);
  border-radius: 50px;
  margin-top: 80px;
  position: relative;
  overflow: hidden;

  .imageWrapper {
    flex: 1;
    img {
      margin-top: 130px;
    }
  }
  .flask1,
  .flask2,
  .tube,
  .microbe {
    position: absolute;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  .flask1 {
    top: 256.5px;
    left: 37px;
    max-width: 10%;
  }

  .flask2 {
    top: 37.5px;
    left: 620px;
    max-width: 10%;
  }

  .tube {
    top: 514px;
    left: 1350px;
    max-width: 15%;
  }

  .microbe {
    top: 190px;
    left: 1480px;
    max-width: 10%;
  }
  .courseContent {
    flex: 2;
    // padding-left: 40px;

    h2 {
      font-family: IBM Plex Sans;
      font-size: 72px;
      font-weight: 500;
      margin-bottom: 30px;
      max-width: 100%;
    }

    ul {
      list-style: none;

      margin: 20px 0;
      li {
        font-family: Inter;
        font-weight: 400;
        font-size: 36px;
        line-height: 43.5px;
        &:before {
          content: "•";
          margin-right: 10px;
        }
      }
    }
    p {
      font-family: Inter;
      font-weight: 400;
      font-size: 36px;
    }

    .price {
      font-size: 72px;
      font-weight: 600;

      .normal {
        font-weight: 400;
        font-size: 27px;
      }

      strong {
        font-weight: 600;
      }
    }
  }
  .contactButton {
    display: flex;
    align-items: center;

    button {
      width: 350px;
      height: 90px;
      background-color: #3b46e0;
      font-family: IBM Plex Sans;
      font-weight: 700;
      font-size: 24px;
      line-height: 23.4px;
      color: white;

      margin-bottom: 40px;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
